<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract</title>
    <link rel="stylesheet" href="{% static 'shartnoma.css' %}">
</head>
<body>


<div class="contract-container">
    <a href="{{url}}/" class="back-btn">← Menyuga qaytish</a>

    <div class="contract-card">
        <h1 class="contract-title">Foydalanish Shartlari</h1>

        <div class="contract-date">
            Oxirgi yangilanish: 08.06.2026
        </div>
    <h1>Foydalanish Shartlari</h1>

<p>
Mazkur platformadan foydalanish orqali foydalanuvchi ushbu shartlarga rozilik bildiradi.
Platforma restoran va mijozlar o'rtasida raqamli menyu, buyurtma berish hamda xizmatlar haqida ma'lumot almashish imkoniyatini taqdim etadi.
</p>

<h3>1. Xizmatdan foydalanish</h3>

<p>
Foydalanuvchi platformadan faqat qonunchilikka zid bo'lmagan maqsadlarda foydalanishi shart.
Platforma faoliyatiga zarar yetkazuvchi yoki uning ishlashiga to'sqinlik qiluvchi harakatlar taqiqlanadi.
</p>

<h3>2. Ma'lumotlarning to'g'riligi</h3>

<p>
Restoran tomonidan joylashtirilgan mahsulotlar, narxlar va xizmatlar haqidagi ma'lumotlar restoran ma'muriyati tomonidan taqdim etiladi.
Platforma ushbu ma'lumotlarning o'zgarishi yoki yangilanmasligi natijasida yuzaga keladigan holatlar uchun javobgar emas.
</p>

<h3>3. Buyurtmalar</h3>

<p>
Platforma orqali yuborilgan buyurtmalar restoran tomonidan ko'rib chiqiladi va tasdiqlanadi.
Buyurtmaning yakuniy qabul qilinishi restoran tomonidan tasdiqlanganidan so'ng amalga oshiriladi.
</p>

<h3>4. Intellektual mulk</h3>

<p>
Platformadagi dizayn, dasturiy ta'minot, logotiplar va boshqa materiallar mualliflik huquqi bilan himoyalangan.
Ularni egasining yozma ruxsatisiz nusxalash, tarqatish yoki tijorat maqsadlarida foydalanish taqiqlanadi.
</p>

<h3>5. Javobgarlikni cheklash</h3>

<p>
Platforma xizmatlarning uzluksiz ishlashini ta'minlash uchun barcha zarur choralarni ko'radi, biroq texnik nosozliklar, internet tarmog'idagi uzilishlar yoki uchinchi tomon xizmatlari sababli yuzaga kelgan muammolar uchun javobgar hisoblanmaydi.
</p>

<h3>6. Maxfiylik</h3>

<p>
Foydalanuvchilar tomonidan taqdim etilgan ma'lumotlar amaldagi qonunchilik talablariga muvofiq himoya qilinadi va uchinchi shaxslarga qonuniy asoslar mavjud bo'lmagan hollarda taqdim etilmaydi.
</p>

<h3>7. Bog'lanish</h3>

<p>
Savollar va takliflar yuzasidan quyidagi telefon raqamiga murojaat qilishingiz mumkin:
<strong>+998 XX XXX XX XX</strong>
</p>

<p>
Oxirgi yangilanish sanasi: 08.06.2026
</p>
 <div class="contact-box">
            <strong>Bog'lanish:</strong><br>
            <a href="tel:+998900601044">
                +998 90 060 10 44
            </a>
        </div>
    </div>
</div>
</body>
</html>